@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
ul{
    padding-left: 0;
}

$font-inter :'Space Grotesk', sans-serif;
$background-color : var(--P, linear-gradient(91deg, #351EE0 0%, #3F74EF 100%));
$text-color :   linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
$background-color2 : #ECF0FB;
$background-color3 : var(--900, #05092B);
$text-color2 : var(--900, #05092B);
$max-width : 1200px;
$text-capitalize : capitalize;
$text-upercase : uppercase;
$margin-auto : auto;
$display-flex : flex;
$content-center : center;
$items-center : center;
$p-text-color : var(--White, #FFF);

// subnavbar start 
.navbar-bg-color{
    background: $background-color2;
    padding: 20px 0;
}
.call li i{
     color: $text-color;
     font-size: 16px;
    
}
.call a{
    color: $text-color2;
    text-decoration: none;
    font-size: 18px;
}
.mail a{
    color: $text-color2;
    text-decoration: none;
    font-size: 18px;
}
.location a{
    color: $text-color2;
    text-decoration: none;
    font-size: 18px;
}
// main navbar section
.navbar-section ul li{
    a{
        font-size: 18px;
        color: $text-color2;
        text-decoration: none;
    }
    span{
        font-size: 10px;
        margin-top: 5px;
    }
    
}
.button button{
    padding: 12px 30px;
    border-radius: 5px;
    background: $background-color;
    border: none;
    color: white;
    outline: none;
}
// banner section part 
.banner-section{
    background-image: url("/img/banner-img.png");
    height:  440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.banner-section::after{
    content: "";
    position: absolute;
    opacity: 0.5;
    background: var(--900, #05092B);
    height: 100%;
    width: 100%;
    z-index: 0;
}
.banner-content{
    z-index: 1;
    color: white;
}
.heading-text{
    font-size: 70px;
    font-weight: 700;
}
// main section part 
main{
    margin-top: 120px;
}
.search-section{
    border: 1px solid var(--200, #CCC);;
    border-radius: 5px;
    h1{
        font-size: 32px;
    }
}
.seacrh-input{
    background: var(--100, #F9F9F9);
    border: 1px solid #351ee00e;
    input{
        border: none;
        background: transparent;
        outline: none;
        padding: 10px 15px;
    }
    button{
        background: $background-color;
        padding: 10px 15px;
        color: white;
        border: none;
        outline: none;
    }
}
 
// card section part  
.card-section{
    margin-top: 50px;
    
    .main-card{
        border-radius: 5px;
        margin-bottom: 30px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.063);
        img{
            width: 100%;
        }
       .card-part{
        margin-top: 20px;
        padding: 0 30px;

        .icon-star{
            color: blue;
            font-size: 10px;
        }
        p{
            margin-bottom: 0;
            font-size: 22px;
            font-weight: 700;
             
        }
        .price-button{
            margin-top: 30px;
            padding: 0px 0 30px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            button{
                border: 1px solid  blue;
                height: 40px;
                width: 100px;
                border-radius: 5px;
                background: transparent;
                transition: .4s;
            }
            button:hover{
                background: $background-color;
                color: white;
                height: 40px;
                width: 100px;
                border-radius: 5px;
                overflow: visible;
                border: none;
                transition: .4s;
               
            }
        }

       }
    }
}

//  footer section start 
footer{
    .container-h{
        height: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    background: $background-color3;
    
   
    flex-direction: column;
    .buttom-footer{
        border-top: 1px solid #373737;
        padding: 20px 0;
        color: white;
        opacity: 0.8;
        font-size: 18px;
        li{
            list-style: none;
        }
    }
}
.footer-section-1{
    color: white;
    .head-text{
        margin-bottom: 30px;
        font-size: 22px;
        color: white;
        font-weight: 700;
    }
    .heading-text{
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 18px;
        color: white;
    }
    img{
        margin-bottom: 30px;
    }
    .footer-text{
        .p-lorem{
            color:  $background-color2;
        }
    }
    .ul-content{
        
        li{
            margin-bottom: 15px;
            a{
                text-decoration: none;
                opacity: 0.8;
                color: white;
                 
            }
            span{
                font-size: 10px;
            }
        }
        .last-text{
            margin-left: 30px;
            font-size: 18px;
            opacity: 0.8;
            list-style: none;
        }
       .contact-vio {
        margin-bottom: 20px;
        li{
            list-style: none;
            color: $background-color2;
           
           }
           a{
            text-decoration: none;
            color: $background-color2;
            opacity: 0.8;
            margin-top: 10px;
           }
       }
     
    }
}
.icon-section{
    .social-icon{
        border: 1px solid rgb(87, 87, 87);
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 5px;
        transition: .3s;

    }
    .social-icon:hover{
        background: $background-color;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 5px;
        border: none;
    }
}